

html,
body {min-height: 100%;}
body{
		font: 100%/1.414 "Roboto", "Arial", sans-serif;
		color: #638cce;
		background: #ffffff;
	}

.pageTitle{
margin-bottom: 32px;
font-size: 26px;
font-weight: 800;
text-align: center;
}
	
.input_button {
 padding-top: 16px;
 padding-bottom: 16px;
 display: inline-block;
 width: 25%;
 font-size: 16px;
 font-weight: 900;
 text-align: center;
 color: #ffffff;
 background-color: #638cce;
 border: 0;
 border-radius: $radius;
 cursor: pointer;
 &:focus,
 &:hover {background-color: darken(#2196f3, 100%);}
}

.form_wrapper
{
	text-align: center;
	position: relative;
	margin-top: 48px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	background: #ffffff;
	perspective: 1000;
	box-shadow: 10px 10px 5px rgba(0,0,0,.25);
}