<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../static/css/authorization_style.css" type="text/css" rel="stylesheet"/>
<title> Permissions </title>
</head>

<body>
<form action="/Back2Welcome" method="POST">
<button class="input_button" type="submit"> Go Back </button>
</form>
<h1 class="pageTitle"> Modify SGD Permissions </h1>
</body>

<div class="form_wrapper">

<form action="/authorization" method="POST">

	<fieldset>
		<legend>Identification</legend>
		SGD ID: <br>
		<input class="input_fields" type="text" name="sgdid"> <br> <br>

		<input class="input_button" type="submit" value="Search"
	</fieldset>

</form>

</div>


<!--
<form action="/postmethod" method="post">
Have a one-time authentication key? <br>
Then click the button below. <br> <br>
<button onclick="authenticate()">Authenticate</button>
</form>
<p id="authkey"></p>
<script>
function authenticate()
{
	var key = prompt("Please enter authentication key", "K3y");
	if(key != null)
	{
		window.alert("Your key " + key + " has been activated. Thank you.");
	}
}
$.post("/postmethod", {
	key: data});
</script>
-->
</html>