<!DOCTYPE html>
<html>
<head>
<!-- <script src="jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/jquery.min.js"></script> -->

</head>
<body>

<p>Smart Gun DB</p>

<p>{{table[1]}}</p>
<p>{{table[2]}}</p>
<p>{{table[3]}}</p>
<p>{{table[4]}}</p>
<p>{{table[5]}}</p>
<p>{{table[6]}}</p>
<p>{{table[7]}}</p>
<p>{{table[8]}}</p>
<p>{{table[9]}}</p>
<p>{{table[10]}}</p>

<p id = "table"></p>

<br>

Add or Remove Users here:

<br><br>
<form action="/addUser" method="POST">
<input type="text" name="addUser" placeholder="Username" required>
<button type=submit> Add New User </button>
</form>
<br><br>
<form action="/removeUser" method="POST">
<input type="text" name="removeUser" placeholder="Username" required>
<button type=submit> Remove User </button>
</form>
<br><br>
<form action="/Back2Welcome" method="POST">
<button type=submit> Go Back </button>
</form>


</body>
</html>
