<!DOCTYPE html>
<html>
<head>
<!-- <script src="jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/jquery.min.js"></script> -->

</head>
<body>

<p>Smart Gun DB</p>

<!-- Start from 1 because the first element in the list is SGD -->

<p>{{ tableSGDB[1] }}</p>
<p>{{ tableSGDB[2] }}</p>
<p>{{ tableSGDB[3] }}</p>
<p>{{ tableSGDB[4] }}</p>
<p>{{ tableSGDB[5] }}</p>
<p>{{ tableSGDB[6] }}</p>
<p>{{ tableSGDB[7] }}</p>
<p>{{ tableSGDB[8] }}</p>
<p>{{ tableSGDB[9] }}</p>
<p>{{ tableSGDB[10] }}</p>

<p id = "tableSGDB"></p>

<br>

Add or Remove Users here:

<br>
<form action="/addUser" method="POST">
<input type="text" name="addUser" placeholder="Username" required>
<button type=submit> Add New User </button>
</form>
<br>
<form action="/removeUser" method="POST">
<input type="text" name="removeUser" placeholder="Username" required>
<button type=submit> Remove User </button>
</form>
<br><br>
<form action="/Back2Welcome" method="POST">
<button type=submit> Go Back </button>
</form>


</body>
</html>
