<!DOCTYPE HTML>
<html>
	<head> SGD Authorization
	</head>
		<body>
		<script language="JavaScript">
				function isEmpty()
				{
					var userField = document.forms["user_authentication"]["UserName"].value;
					var sgdidField = document.forms["user_authentication"]["sgd_ID"].value;
					if (sgdidField == "" && userField == "")
					{
						alert("Please fill in the UserName and SGD ID");
						return false;
					}
					if (userField == "")
					{
						alert("Please fill in the UserName");
						return false;
					}
					if (sgdidField == "")
					{
						alert("Please fill in the SGD ID");
						return false;
					}
				}
		</script>
		<form name="user_authentication" action="/DeviceAuthorization" onsubmit="return isEmpty()" method="POST">
			<fieldset>
			
			What would you like to do? <br>
			
			<input type="radio" name="authorization" value="authorize" checked> Authorize User <br>
			<input type="radio" name="authorization" value="unauthorize"> Unauthorize User <br>
			
				<legend> Enter Information: </legend>
				Username: <br>
				<input type="text" name="UserName"><br>
				SGD ID: <br>
				<input type="text" name="sgd_ID"><br>
				<input type="submit" value="Submit">
			</fieldset>
		</form>
		</body>
</html>