<!DOCTYPE html>
<html>
<body>

<h1> Smart-Gun User Registration </h1>
<p> Welcome to the Registration page for your Smart-Gun. </p>

</body>

<form name=register action="/register" onsubmit="return formValidation()" method="post">

	<fieldset>
		<legend>Login information</legend>
		
		Name: <br>
		<input type="text" name="name"> <br><br>
		
		Username: <br>
		<input type="text" name="username" required> <br><br>

		Password: <br>
		<input type="password" name="password" required> <br><br>
		
		Repeat Password: <br>
		<input type="password" name="password"> <br><br>

		<input type="submit" value="Login"
	</fieldset>

</form>

<script language=javascript>
function formValidation()
{
	var user_field = document.forms["register"]["username"].value;
	var pass_field = document.forms["register"]["password"].value;
	
	if (user_field == "" && pass_field == "")
	{
		alert("Please fill out username and password fields.");
		return false;
	}
	
	else if (user_field == "")
	{
		alert("Please fill out username field.");
		return false;
	}
	
	else if (pass_field == "")
	{
		alert("Please fill out password field.");
		return false;
	}
}
</script>

</html>