$textColor: #ffffff
$background-color: #66ccff
html,
body {min-height: 100%;}
body{
		font: 100%/1.414 "Roboto", "Arial", sans-serif;
		color: $textColor;
		background: $background-color;
	}
a,
input[type="submit"],
.link_inv{transition: all .15s ease;}

/**layout**/
.form_wrapper{
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	width: 320px;
	background: #ffffff;
	perspective: 500px;
	box-shadow: 10px 10px 5px #888888;
}

.flip:checked + .container{
	transform: rotateY(-180deg);
	}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform .15s ease;
}

.login_form,
.register_form{
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	margin: auto;
	width: 100%;
	backface-visibility: hidden;
	background: #ffffff;
	box-shadow: 5px 5px 48px 
}
